<!doctype html>

<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/fonts1/icomoon/style.css">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous">
    </script>
    <script  src="/path/to/bootstrap-show-password.js"></script>
    <link rel="stylesheet" href="/css1/owl.carousel.min.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
          crossorigin="anonymous">
    <link rel="stylesheet"
          href="https://use.fontawesome.com/releases/v5.1.0/css/all.css"
          integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt"
          crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css1/bootstrap.min.css">
    
    <!-- Style -->
    <link rel="stylesheet" href="/css1/style.css">

    <title>Food Ordering System</title>
  </head>
  <body>
  

  <div class="d-lg-flex half">
    <div class="bg order-1 order-md-2" style="background-image: url('https://www.qsrmagazine.com/sites/default/files/styles/slideshow_image/public/slideshow-images/slides/mcdonaldsglobal.jpg?itok=Q5EUIKFj');"></div>
    <div class="contents order-2 order-md-1">

      <div class="container">
        <div class="row align-items-center justify-content-center">
          <div class="col-md-7">
            <div class="mb-4">
              <h3>Food Ordering System</h3>
              <p class="mb-4">Login</p>
            </div>
            <form th:action="@{/login}" method="post">
              <div th:if="${param.error}">
                <div class="alert alert-danger">
                  Invalid username or password.
                </div>
              </div>
              <div th:if="${param.logout}">
                <div class="alert alert-info">
                  You have been logged out.
                </div>
              </div>

              <label for="username">Username</label>

              <div class="form-group first">
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>

              </div>
              <label for="password">Password</label>
              <div class="input-group">
                <input type="password" name="password" id="password" class="form-control" data-toggle="password" >
                <div class="input-group-append">
                            <span class="input-group-text">
                              <i class="fa fa-eye"  id="togglePassword"></i>
                            </span>
                </div>
              </div>

              


              <input type="submit" value="Log In" class="btn btn-block btn-primary">

              <span class="d-block text-center my-4 text-muted">&mdash; or &mdash;</span>
              

            </form>
            <div class="social-login">
              <a th:href="@{/register}" class="facebook btn d-flex justify-content-center align-items-center">
                Register
              </a>
              <br>
              <h5>Login/Register as <b>Admin:</b></h5>
              <a th:href="@{/oauth2/authorization/google}" class="google btn d-flex justify-content-center align-items-center">
                <span class="icon-google mr-3"></span> Login with  Google
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>

    
  </div>

  <script>
     const togglePassword = document.querySelector('#togglePassword');
const password = document.querySelector('#password');


togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye / eye slash icon
    this.classList.toggle('fa-eye-slash');
});

    </script>

    <script src="js/jquery-3.3.1.min.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>